@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');


*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poiret One';
    font-size: 30px;
    font-weight: bolder;
}



body{
    background-color: bisque;
}

.head{
    text-align: center;
    font-size: 33px;
    padding-top: 99px;

}
.box{
    width: 450px;
    background-color: #ffffff;
    padding: 70px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 228px;
    display:table-column;
    justify-content: space-between;
  
    
}
.container{
    width: 50%;
    text-align: center;
    padding: 14px 19px;
    margin: 21px 101px;
    
}
input{
    width: 100%;
    height: 50px;
    border-radius: 5px;
    border: 2px solid #d2d2d2;
    outline: none;
    margin-top: 8px;
    padding: 0 10px;
    text-align: center;
}
